@import url('https://fonts.googleapis.com/css2?family=Tagesschrift&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Tagesschrift", system-ui;
}

#notification{
    display: none;
    position: absolute;
    top: 0;
    width: 95%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 400px;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 0.5rem #00000099;
    border-left: 5px solid #5f9e76;
    background: linear-gradient(315deg,#a8a2a2, #efefef);
}

#notification.green{
    border-left-color: #5f9e76;
}

#notification.red{
    border-left-color: #aa0000;
}

.showNoti{
    display: block !important;
    animation: notification 3s linear;
}

@keyframes notification{
    0%{
        transform: translate(-50%, -100%);
    }
    10%{
        transform: translate(-50%, 0);
    }
    15%{
        transform: translate(-50%, 5%);
    }
    20%{
        transform: translate(-50%, -3%);
    }
    23%{
        transform: translate(-50%, 2%);
    }
    26%{
        transform: translate(-50%, 0);
    }
    90%{
        transform: translate(-50%, 0);
    }
    100%{
        transform: translate(-50%, -100%);
    }
    
}

.chips-sec{
    position: absolute;
    right: 0;
    top: 0;
    height: 2rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 0.5rem;
    gap: 0.5rem;
    color: #ffd700;
}

#chips{
    font-size: 1.5rem;
    text-shadow: 0 0.2rem 0.3rem #00000099;
}

.chips-sec img{
    filter: brightness(0) saturate(100%) invert(82%) sepia(20%) saturate(2316%) hue-rotate(354deg) brightness(103%) contrast(112%);
    height: 100%;
}

.homelink{
    position: relative;
    top: 0.5rem;
    margin: 0.5rem;
}