@import url('https://fonts.googleapis.com/css2?family=Tagesschrift&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Tagesschrift", system-ui;
    touch-action: manipulation;
}

#notification{
    display: none;
    position: fixed;
    top: 0;
    width: 95%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 400px;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 0.5rem #00000099;
    border-left: 5px solid #5f9e76;
    z-index: 10;
    background: linear-gradient(315deg,#a8a2a2, #efefef);
}

#notification.green{
    border-left-color: #5f9e76;
}

#notification.red{
    border-left-color: #aa0000;
}

.showNoti{
    display: block !important;
    animation: notification 3s linear;
}

@keyframes notification{
    0%{
        transform: translate(-50%, -100%);
    }
    10%{
        transform: translate(-50%, 0);
    }
    15%{
        transform: translate(-50%, 5%);
    }
    20%{
        transform: translate(-50%, -3%);
    }
    23%{
        transform: translate(-50%, 2%);
    }
    26%{
        transform: translate(-50%, 0);
    }
    90%{
        transform: translate(-50%, 0);
    }
    100%{
        transform: translate(-50%, -100%);
    }
    
}

.chips-sec{
    position: fixed;
    right: 0;
    top: 0;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
    gap: 0.5rem;
    color: #ffd700;
    z-index: 2;
}

#chips{
    transform: translateY(-8.5%);
    font-size: 1.5rem;
    text-shadow: 0 0.2rem 0.3rem #00000099;
}

.chips-sec img{
    filter: brightness(0) saturate(100%) invert(82%) sepia(20%) saturate(2316%) hue-rotate(354deg) brightness(103%) contrast(112%) drop-shadow(0 0.2rem 0.3rem #00000099);
    height: 100%;
}

.homelink{
    position: relative;
    top: 0.5rem;
    margin: 0.5rem;
}


.goldButton{
    padding: 0.3rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    outline: 0;
    background: #ffcc00;
    cursor: pointer;
    color: #111;
    margin: 1rem 0;
    transition: 200ms ease-in-out;
    border: 1px solid #000;
}

.goldButton:hover{
    padding: 0.3rem 0.5rem;
    box-shadow: 0 0 15px rgba(255, 204, 0, 0.4);
}

#betsText{
    color: #fefefe;
}
#betAmount{
    color: #ffd700;
}

#betsCont{
    margin: 0.5rem 0;
    margin-bottom: 1rem;
    width: 3rem;
    height: 3rem;
}

#betsCont img{
    position: absolute;
    width: 3rem;
    height: 3rem;
    filter: drop-shadow(0 0.3rem 0.3rem #00000059);
}

.chipBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.chipBox .row{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 3rem;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    width: fit-content;
}

.chipBox .row button{
    all: unset;
    height: 100%;
    cursor: pointer;
    aspect-ratio: 1;
    transition: 200ms;
}

.chipBox .row button:hover,.chipBox .row button:focus{
    scale: 1.05;
    filter: drop-shadow(0 0.3rem 0.3rem #00000099);
}

.chipBox .row button img{
    height: 100%;
    width: 100%;
}

#table{
    margin: 0;
}

.disabled{
    background: #ab8902 !important;
    color: #2a2a2a !important;
    cursor: not-allowed !important;
}