body{
    background-color: #0B6623;
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0.1) 1%, transparent 20%), 
                      radial-gradient(circle, rgba(0, 0, 0, 0.1) 1%, transparent 20%);
    background-size: 15px 15px;
    background-position: 0 0, 7.5px 7.5px;
}

/*player*/

.chipBox{
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.chipBox .row{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 3rem;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    width: fit-content;
}

.row button{
    all: unset;
    height: 100%;
    cursor: pointer;
    aspect-ratio: 1;
    transition: 200ms;
}

.row button:hover,.row button:focus{
    scale: 1.05;
    filter: drop-shadow(0 0.3rem 0.3rem #00000099);
}

.row button img{
    height: 100%;
    width: 100%;
}

#betsText{
    color: #fefefe;
}

#betsCont{
    margin: 0.5rem 0;
    width: 3rem;
    height: 3rem;
}

#betsCont img{
    position: absolute;
    width: 3rem;
    height: 3rem;
    filter: drop-shadow(0 0.3rem 0.3rem #00000059);
}

.playerCards,.dealerCards{
    display: flex;
    width: 100%;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,50%);
    max-width: 100%;
    max-width: 600px;
    max-height: 50svh;
    height: 100%;
    padding: 0 0.5rem;
}

#dealerBox{
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    flex-direction: column;
    display: none;
    transform: translateY(-50%);
}

.dealerCards{
    position: relative;
    transform: translateX(-50%);
}

#dealerValue{
    position: relative;
    font-size: 2rem;
    color: #fefefe;
}

.cardcont,.cardcont img{
    max-height: 100%;
    max-width: 100%;
}

.cardcont{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.cardcont img:first-child{
    transform: translateY(9%);
}

#betAmount{
    color: #ffd700;
}

.bet-btns button{
    padding: 0.3rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    outline: 0;
    background: #ffcc00;
    cursor: pointer;
    color: #111;
    margin: 1rem 0;
    transition: 200ms ease-in-out;
    border: 1px solid #000;
}

.bet-btns button:hover{
    padding: 0.3rem 0.5rem;
    box-shadow: 0 0 15px rgba(255, 204, 0, 0.4);
}

#start.disabled{
    background: #ab8902;
    color: #2a2a2a;
    cursor: not-allowed;
}

#start.disabled:hover{
    padding: 0.3rem;
    box-shadow: none;
}

.playerOptions{
    display: flex;
    padding: 0 0.5rem;
    position: absolute;
    top: -3rem;
    font-size: 2rem;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    transform: translateY(-0.5rem);
}

.playerOptions p{
    flex: 1;
    text-align: center;
    width: 100%;
}

.player-btns{
    min-width: 30%;
    display: none;
}

#playerValue{color: #fefefe; display: none;}