body{
    background-image: url('/images/homebg.webp');
    background-size: cover cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-color: #1e0704;
    height: 100svh;
    overflow:hidden;
}
main {
    position: absolute;
    left: 50%;
    bottom: 1rem;
    transform: translate(-50%,50%);
    width: 100%;
    max-width: 600px;
    max-height: 45vh;
    display: flex;
    background: transparent;
    padding: 0 1rem;
}

main a {
    position: relative;
    display: block;
    width: 60%;
    transform: rotate(var(--angle)) translateY(var(--translate));
    transition: transform 0.3s ease, bottom 0.3s ease;
    cursor: pointer;
}

main a:hover {
    transform: rotate(0deg) translateY(-20px);
}

main a img {
    width: 100%;
    height: auto;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.text{
    position: relative;
    top: 33%;
    transform: translateY(-33%);
    color: #fefefe;
    margin: 0 auto;
    text-align: center;
}

#freeChips{
    margin: 0 0.5rem;
    position: absolute;
    top: 3rem;
    right: 0;
    display: none;
}

.profile{
    position: fixed;
    margin: 0.5rem;
    background: #eee;
    border: 1px solid #111;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 0.2rem;
    transition: 200ms;
}

.profile:hover{
    scale: 1.05;
}

.profile svg{
    fill: #000;
}